/* ------------------------------------------------------------------------------
 *
 *  # Bootstrap file input
 *
 *  File input styling for Bootstrap 3.0
 *
 *  Version: 1.1
 *  Latest update: Dec 11, 2015
 *
 * ---------------------------------------------------------------------------- */
.file-input.has-error .form-control {
    border-color: #ddd;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (min-width: 769px) {
    .file-input .btn > [class*=icon-],
    .file-input .btn > .glyphicon {
        margin-right: 5px;
    }
}
.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}
.file-caption-name {
    display: inline-block;
    overflow: hidden;
    word-break: break-all;
}
.file-caption-name [class*=icon-],
.file-caption-name .glyphicon {
    margin-right: 7px;
}
.file-input-new .file-caption-name {
    color: #999999;
}
.file-input-new .file-caption-name > [class*=icon-],
.file-input-new .file-caption-name > .glyphicon {
    display: none;
}
.file-error-message {
    position: relative;
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    margin: 0 5px 5px 5px;
}
.file-drop-zone .file-error-message {
    margin-top: 5px;
}
.file-error-message .close {
    margin-top: 1px;
    color: #a94442;
}
.file-error-message pre,
.file-error-message ul {
    margin: 5px 0;
    text-align: left;
}
.file-caption-disabled {
    background-color: #fafafa;
    cursor: not-allowed;
}
.file-preview-detail-modal {
    text-align: left;
}
.file-preview {
    border-radius: 2px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.file-preview > .close {
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 8px;
    line-height: 0.6;
    border-radius: 3px;
    color: #555;
    opacity: 1;
    filter: alpha(opacity=100);
}
.file-preview-frame {
    margin: 5px;
    height: 160px;
    border: 1px solid #ddd;
    padding: 3px;
    display: table;
    float: left;
    vertical-align: middle;
}
.file-preview-image {
    height: 160px;
    vertical-align: middle;
}
@media (max-width: 768px) {
    .file-preview-image {
        max-width: 100%;
    }
}
.file-preview-text {
    text-align: left;
    width: 160px;
    margin-bottom: 2px;
    color: #428bca;
    background-color: #fff;
    overflow-x: hidden;
}
.file-preview-other {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 160px;
    height: 160px;
}
.file-preview-other:after {
    content: "\ea0c";
    font-family: "icomoon";
    display: block;
    font-size: 64px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.file-preview-other .glyphicon {
    display: none;
}
.file-preview-status {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #333333;
    background-color: rgba(250, 250, 250, 0.8);
    border-top: 1px solid #ddd;
    padding: 7px 12px;
    font-size: 12px;
    color: #333333 !important;
}
.file-preview-status:empty {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.file-thumb-loading:before,
.file-uploading:before {
    content: "";
    display: inline-block;
    background-color: #263238;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
}
.file-thumb-loading:after,
.file-uploading:after {
    content: "\eb55";
    font-family: "icomoon";
    display: inline-block;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}
.file-upload-indicator {
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: default;
    text-align: left;
    padding-left: 5px;
}
.file-input-new .file-preview,
.file-input-new .close,
.file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button,
.file-input-new .fileinput-upload-button {
    display: none;
}
.file-input-ajax-new .fileinput-remove-button,
.file-input-ajax-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove,
.file-input-ajax-new .file-caption-name > [class*=icon-],
.file-input-ajax-new .file-caption-name > .glyphicon {
    display: none;
}
.file-actions {
    margin-top: 5px;
}
.file-actions .btn > [class*=icon-],
.file-actions .btn > .glyphicon {
    margin-right: 0;
}
.file-footer-buttons {
    float: right;
}
.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    text-align: center;
    font-size: 11px;
    padding: 12px 7px 7px 7px;
    margin-left: auto;
    margin-right: auto;
}
.file-preview-error {
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.file-drop-zone {
    border: 1px dashed #ddd;
    border-radius: 3px;
    height: 100%;
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
}
.file-drop-zone-title {
    color: #999999;
    font-size: 21px;
    font-weight: 300;
    padding: 85px 10px;
}
.file-highlighted {
    border-color: #ccc;
    background-color: #fafafa;
}
.file-thumb-progress {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
}
.file-thumb-progress .progress,
.file-thumb-progress .progress-bar {
    height: 5px;
    border-radius: 0;
    font-size: 0;
}
.kv-upload-progress {
    margin-bottom: 20px;
}
.file-thumbnail-footer {
    position: relative;
}
.btn-file ::-ms-browse {
    width: 100%;
    height: 100%;
}